/* ----------------------------------- *\
			structura
\* ----------------------------------- */
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	min-width: var(--min, 320px);
}
body {
    //min-height: -webkit-fill-available;
}
html {
    //height: -webkit-fill-available;
}
.inner-wrap, .page {
	position: relative;
	clear: both;
	margin: 0 auto;
	padding: 0 15px;
	min-width: var(--min, 320px);
	max-width: var(--max, 1430px);
	width: 100%;
	.inner-wrap {
		min-width: 0;
		padding-left: 0;
		padding-right: 0;
	}
	.cnt-section {
		min-width: 0;
	}
}
.page {
	flex: 1 0 auto;
}
.wrap, .footer {
	// -webkit-transform: translate3d(0,0,0);
}
.wrap,
.header,
.nav,
.footer,
.cnt-section {
	position: relative;
	clear: both;
	min-width: var(--min, 320px);
	width: 100%;
}
.wrap {
	overflow: hidden;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	&>.cnt-section {
		flex-shrink: 0;
	}
    &:after {
        content: "";
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 110;
        background: fade(#000, 80);
        animation: fadein ease 0.2s;
    }
}
.nav,
.header,
.footer {
	flex-shrink: 0;
	line-height: 1;
	text-align: left;
	ul, li, p {
		margin: 0;
		padding: 0;
		&:before {
			display: none;
		}
	}
	a {
		text-decoration: none;
		position: relative;
		transition: all ease 0.2s;
	}
}
.header-location-active {
    .header {
        .location-popup-wrap {
            display: block;
        }
    }
}
.header {
    z-index: 100;
}
.header-top-panel {
    background: #F2F2FD;
    color: #26334E;
    font-size: 15px;
    line-height: 20px;
    .inner-wrap {
        height: 45px;
        display: flex;
        align-items: center;
    }
    .location-wrap {
        position: relative;
        padding-right: 15px;
    }
    .address-wrap {
        display: none;
        padding-left: 30px;
        flex-shrink: 0;
    }
    .phone-wrap {
        padding-left: 15px;
        flex-shrink: 0;
        white-space: nowrap;
    }
    .location-popup-wrap {
        display: none;
        animation: fadein ease 0.2s;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 30;
        background: #fff;
        width: 312px;
        border-radius: 10px;
        filter: drop-shadow(-6px 7px 46px rgba(0, 0, 0, 0.14));
        padding: 20px 22px 6px 22px;
        margin-top: 30px;
        &:before {
            content: "";
            display: block;
            position: absolute;
            left: 40px;
            bottom: 100%;
            border: 8px solid fade(#000, 0);
            border-bottom-color: #fff;
        }
        .popup-title {
            display: block;
            font-size: 20px;
            line-height: 24px;
            font-weight: 400;
            margin: 0 0 25px 0;
        }
        .popup-buttons {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -10px 0 0;
            .btn,
            button,
            input[type="submit"] {
                height: 40px;
                min-width: 110px;
                padding: 0 14px;
                font-size: 15px;
                text-transform: none;
                border-radius: 8px;
                display: flex;
                color: #fff;
                margin: 0 10px 10px 0;
                &.button-border {
                    color: #A5A6C7;
                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }
    .menu-wrap {
        flex: 1;
        &>ul {
            margin: 0 auto;
            max-width: 800px;
            display: flex;
            align-items: center;
            &>li {
                &>a {
                    height: 45px;
                    line-height: 45px;
                    padding: 0 11px;
                }
            }
            ul {
                display: none;
                animation: fadeinslide ease 0.2s;
                position: absolute;
                top: 100%;
                left: 0;
                width: 190px;
                min-width: 100%;
                background: #fff;
                padding: 4px 0;
                z-index: 10;
                border-radius: 5px;
                box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.11);
                a {
                    font-size: 15px;
                    height: auto;
                    line-height: 20px;
                    padding: 10px 20px 10px 15px;
                }
            }
        }
        .submenu {
            &:hover {
                &>a {
                    color: #5144DB;
                }
                ul {
                    display: block;
                }
            }
            &>a {
                padding-right: 20px;
                &:before {
                    content: "";
                    display: block;
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    margin-top: -7px;
                    background: url(../img/icons/arrow01.svg) center no-repeat;
                    background-size: 100% auto;
                }
            }
        }
    }
    a {
        display: block;
        position: relative;
        color: #26334E;
        &:hover {
            color: #5144DB;
        }
    }
}
.header-main-panel {
    .catalog-wrap {
        width: 122px;
        padding: 0 8px 0 0;
        flex-shrink: 0;
        position: relative;
    }
    .actions-wrap {
        flex-shrink: 0;
        display: flex;
    }
    .action-wrap {
        width: 53px;
        flex-shrink: 0;
    }
    .btn-header {
        display: block;
        width: 100%;
        height: 40px;
        text-decoration: none;
        text-align: center;
        position: relative;
        overflow: hidden;
        color: #26334E;
        &:hover {
            color: #5144DB;
        }
        .button-title {
            display: none;
            font-size: 15px;
            line-height: 20px;
            white-space: nowrap;
            position: relative;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .elm-count {
            position: absolute;
            z-index: 2;
            bottom: 50%;
            left: 50%;
            margin-left: -3px;
        }
    }
}
.main-sbs-box {
    position: relative;
    overflow: hidden;
    color: #fff;
    background: linear-gradient(109.85deg, #7065E3 -7.38%, #65E3C8 101.94%);
    line-height: 1;
    border-radius: 15px 15px 0 0;
    .inner-wrap {
        padding: 27px 12px 22px 12px;
    }
    .sbs-title {
        display: block;
        font-size: 20px;
        line-height: 24/20;
        margin-bottom: 27px;
        font-weight: 400;
        &.title-main {
            display: none;
        }
    }
}
.main-catalog-wrap {
    .btn-catalog {
        height: 50px;
        padding: 0 0 0 34px;
        width: 100%;
        border-radius: 10px;
        font-size: 16px;
        text-align: left;
        &:not(.active) {
            &:before {
                content: "";
                display: block;
                width: 24px;
                height: 24px;
                position: absolute;
                top: 50%;
                left: 22px;
                margin: -12px 0 0 -12px;
                background: url(../img/icons/menu.svg) center no-repeat;
                background-size: 24px auto;
            }
        }
        &.active {
            &:before, &:after {
                content: "";
                display: block;
                width: 20px;
                height: 2px;
                border-radius: 1px;
                position: absolute;
                top: 50%;
                left: 22px;
                margin: -1px 0 0 -10px;
                background: #fff;
                transition: none;
                .t-rotate(45deg);
            }
            &:before {
                .t-rotate(-45deg);
            }
        }
    }
    .catalog-block {
        display: none;
    }
    .catalog-menu-title-wrap {
        display: none;
        .catalog-menu-title {
            display: block;
            font-size: 24px;
            line-height: 28px;
            padding: 5px 20px 20px 15px;
            font-weight: 500;
        }
        .btn-action-ico {
            &.ico-close-small {
                position: absolute;
                top: 19px;
                right: 14px;
                margin-top: -12px;
                z-index: 10;
            }
        }
        .btn-action-back {
            opacity: 0;
            z-index: -999;
            overflow: hidden;
            line-height: 0;
            height: 0;
            padding: 0;
            &:before {
                top: 19px;
                left: 15px;
            }
        }
    }
    .catalog-menu-wrap {
        a {
            display: flex;
            width: 100%;
            align-items: center;
            color: #26334E;
            position: relative;
            font-size: 16px;
            line-height: 21px;
            padding: 10px 15px;
            &:hover, &.active {
                color: var(--clr-att);
            }
        }
        li {
            &.open, &:hover {
                &>.menu-button {
                    background: #F2F2FD;
                }
            }
        }
        .menu-button {
            min-height: 64px;
            padding: 10px 30px 10px 70px;
            line-height: 19px;
            color: #000;
            &:before {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 1px;
                background: #eee;
            }
            &:hover, &.active {
                background: #F2F2FD;
                color: #000;
            }
            .elm-ico {
                width: 43px;
                height: 43px;
                position: absolute;
                top: 50%;
                left: 15px;
                margin-top: -22px;
            }
            &:after {
                content: "";
                display: block;
                width: 24px;
                height: 24px;
                position: absolute;
                top: 50%;
                right: 4px;
                margin-top: -12px;
                background: url(../img/icons/arrow11.svg) center no-repeat;
                background-size: 8px auto;
            }
        }
    }
}
.main-sbs-box {
    &~.footer {
        .btn-action-ico {
            &.button-up {
                box-shadow: none;
            }
        }
    }
}
.footer {
    .btn-action-ico {
        &.button-up {
            position: absolute;
            bottom: 100%;
            right: 30px;
            margin-bottom: -26px;
        }
    }
}
.footer-main-panel, .footer-bottom-panel {
    color: #fff;
    position: relative;
    overflow: hidden;
    font-size: 16px;
    line-height: 21/16;
    background: #1F0847;
    a {
        color: #fff;
    }
}
.footer-main-panel {
    .footer-title {
        display: block;
        font-size: 13px;
        line-height: 1.34;
        color: #A5A6C7;
        margin: 0 0 9px 0;
    }
    .menu-wrap {
        font-size: 15px;
        color: #DDDAF8;
        a {
            display: block;
            color: #DDDAF8;
            &:hover {
                color: #fff;
            }
        }
    }
}
.footer-mobile-dark {
    .footer-mobile-panel {
        background: #5144DB;
        .btn-footer {
            color: #fff;
            .btn-action-ico {
                filter: brightness(0) invert(1);
            }
            &:hover {
                color: #fff;
            }
        }
        .cart-wrap {
            .btn,
            button,
            input[type="submit"] {
                background: #fff;
                border-color: #fff;
                color: #5144DB;
                flex-direction: column;
            }
        }
        .actions-wrap {
            background: #5144DB;
        }
    }
}
.footer-mobile-panel {
    background: #fff;
    position: relative;
    .inner-wrap {
        padding: 0;
    }
    .cart-wrap {
        padding: 12px 27px;
        display: block;
        position: relative;
        overflow: hidden;
        border-bottom: 1px solid #e3e3f7;
        .btn,
        button,
        input[type="submit"] {
            width: 100%;
            height: 60px;
            border-radius: 10px;
            font-size: 16px;
            line-height: 20px;
        }
        .elm-price {
            display: block;
            font-size: 14px;
            line-height: 18px;
            margin-top: 5px;
        }
    }
    .actions-wrap {
        display: flex;
        background: #fff;
    }
    .action-wrap {
        width: 20%;
        flex-shrink: 0;
    }
    .btn-footer {
        display: block;
        position: relative;
        width: 100%;
        text-align: center;
        font-size: 12px;
        line-height: 15px;
        padding: 40px 5px 0 5px;
        color: #000000;
        overflow: hidden;
        text-decoration: none;
        height: 64px;
        .btn-action-ico {
            display: block;
            width: 24px;
            height: 24px;
            position: absolute;
            top: 10px;
            left: 50%;
            margin-left: -12px;
        }
        &:hover {
            color: #5144DB;
        }
    }
}
.logo {
    display: block;
    position: relative;
    overflow: hidden;
    line-height: 1;
    text-decoration: none;
    width: 100%;
    letter-spacing: normal;
    font-weight: 400;
    &:hover {
        text-decoration: none;
    }
    img {
        display: block;
        width: 100%;
    }
}
@media (max-width: 767px) {
    .wrap {
        &.filter-showed {
            &:after {
                display: block;
            }
        }
    }
    .no-order-footer {
        .footer {
            padding-bottom: 64px;
        }
        .footer-mobile-panel {
            .cart-wrap {
                display: none;
            }
        }
    }
    .footer {
        padding-bottom: 149px;
    }
    .footer-mobile-panel {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }
    .footer-bottom-panel {
        padding-bottom: 20px;
        .copy-wrap {
            font-size: 12px;
            line-height: 1.25;
            color: #8490A8;
        }
        .inner-wrap {
            display: flex;
            flex-direction: column-reverse;
        }
        .policy-wrap {
            margin-bottom: 42px;
        }
    }
    .footer-main-panel {
        padding: 38px 0 42px 0;
        .logo-wrap {
            width: 99px;
            margin: 0 0 44px 0;
        }
        .menu-wrap {
            display: none;
        }
        .soc-wrap {
            position: absolute;
            top: 52px;
            right: 0;
            display: inline-flex;
        }
        .address-wrap, .shedule-wrap {
            display: none;
        }
        .phone-wrap {
            display: block;
        }
        .phone-number {
            display: block;
            font-size: 16px;
            line-height: 21px;
            margin-bottom: 13px;
            white-space: nowrap;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .footer-title {
            display: none;
        }
        .btn-action-ico {
            &.button-soc {
                margin: 0 12px 0 0;
                z-index: 2;
            }
        }
    }
    .header-main-panel {
        .inner-wrap {
            height: 122px;
            padding-top: 56px;
        }
        .actions-wrap {
            display: none;
        }
        .catalog-wrap {
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            .btn-catalog {
                display: none;
            }
        }
        .logo-wrap {
            height: 56px;
            width: 99px;
            display: flex;
            align-items: center;
            position: absolute;
            left: 15px;
            top: 0;
        }
        .phone-wrap {
            display: block;
            position: absolute;
            top: 28px;
            right: 26px;
            margin: -20px -20px 0 0;
            line-height: 1;
        }
    }
    .header-top-panel {
        display: none;
    }
    .main-catalog-wrap {
        .catalog-block {
            display: none;
            position: fixed;
            flex-direction: column;
            top: 122px;
            left: 0;
            right: 0;
            bottom: 64px;
            z-index: 999;
            background: #fff;
            overflow: hidden;
        }
        .catalog-menu-title-wrap {
            display: block;
            width: 100%;
            flex-shrink: 0;
        }
        .catalog-menu-wrap {
            width: 100%;
            flex: 1;
            position: relative;
            overflow: auto;
            &>ul {
                &>li {
                    &>ul {
                        display: none;
                    }
                }
            }
            .menu-button {
                padding-right: 40px;
                &:after {
                    right: 16px;
                }
            }
        }
    }
    .catalog-active {
        .main-catalog-wrap {
            .catalog-block {
                display: flex !important;
            }
        }
    }
    .catalog-submenu-active {
        .catalog-menu-title-wrap {
            .catalog-menu-title {
                display: none;
            }
            .btn-action-back {
                opacity: 1;
                z-index: 2;
                height: auto;
                padding: 5px 20px 20px 30px;
                line-height: 28px;
            }
        }
        .catalog-menu-wrap {
            &>ul {
                &>li {
                    display: none;
                    .menu-button {
                        display: none;
                    }
                    &.catalog-submenu-active {
                        display: block;
                    }
                    &>ul {
                        display: block;
                    }
                    &>ul {
                        &>li {
                            &>a {
                                display: flex;
                                min-height: 64px;
                                position: relative;
                                align-items: center;
                                padding: 10px 10px 10px 15px;
                                font-weight: 500;
                                &:before {
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    right: 0;
                                    height: 1px;
                                    background: #eee;
                                }
                            }
                            &.submenu {
                                &.open {
                                    ul {
                                        display: block;
                                    }
                                    &>a {
                                        &:after {
                                            .t-rotate(90deg);
                                        }
                                        &:before {
                                            opacity: 0;
                                        }
                                    }
                                }
                                &>a {
                                    padding-right: 40px;
                                    &:after {
                                        content: "";
                                        display: block;
                                        width: 24px;
                                        height: 24px;
                                        position: absolute;
                                        top: 50%;
                                        right: 14px;
                                        left: auto;
                                        margin-top: -12px;
                                        transition: transform ease 0.2s;
                                        background: url(../img/icons/arrow11.svg) center no-repeat;
                                        background-size: 7px auto;
                                    }
                                }
                            }
                            ul {
                                display: none;
                                padding-bottom: 20px;
                                border-bottom: 1px solid #eee;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 768px) {
    .inner-wrap, .page {
        padding-left: 22px;
        padding-right: 22px;
    }
    .main-sbs-box {
        border-radius: 35px 35px 0 0;
        .inner-wrap {
            padding: 42px 47px 66px 47px;
        }
        .sbs-title {
            font-size: 24px;
            line-height: 28px;
            max-width: 425px;
            margin-bottom: 48px;
            display: none;
            &.title-main {
                display: block;
            }
        }
        .frm-main-button {
            max-width: 530px;
        }
    }
    .footer-bottom-panel {
        padding: 0 0 32px 0;
        font-size: 13px;
        line-height: 1.25;
        .inner-wrap {
            display: flex;
        }
        .copy-wrap {
            flex: 1;
            padding: 0 50px 0 0;
            color: #8490A8;
            a {
                color: #8490A8;
            }
        }
        .policy-wrap {
            width: 37%;
            flex-shrink: 0;
        }
    }
    .footer-main-panel {
        font-size: 15px;
        line-height: 1.34;
        padding: 38px 0 38px 0;
        .inner-wrap {
            min-height: 128px;
            display: flex;
            align-items: flex-start;
        }
        .menu-wrap {
            display: none;
        }
        .info-wrap {
            width: 26%;
            flex-shrink: 0;
            padding: 0 20px 0 0;
        }
        .contacts-wrap {
            display: flex;
            padding: 5px 0 0 0;
            flex: 1;
        }
        .phone-wrap {
            width: 34%;
            flex-shrink: 0;
        }
        .shedule-wrap {
            width: 32%;
            flex-shrink: 0;
        }
        .address-wrap {
            flex: 1;
            padding: 0 24px 0 0;
        }
        .logo-wrap {
            width: 118px;
            margin: 0 0 34px 0;
            line-height: 1;
        }
        .soc-wrap {
            display: flex;
            flex-wrap: wrap;
        }
        .phone-number {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .shedule-title {
            margin-bottom: 10px;
            display: block;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .btn-action-ico {
            &.button-soc {
                width: 38px;
                height: 38px;
                margin: 0 12px 12px 0;
            }
        }
    }
    .footer-mobile-dark {
        .footer-mobile-panel {
            .cart-wrap {
                .btn,
                button,
                input[type="submit"] {
                    .elm-price {
                        color: #fff;
                    }
                }
            }
        }
    }
    .footer-mobile-panel {
        .actions-wrap {
            display: none;
        }
        .cart-wrap {
            padding: 13px 20px;
            display: flex;
            justify-content: flex-end;
            border: none;
            overflow: hidden;
            .btn,
            button,
            input[type="submit"] {
            	width: auto;
                min-width: 259px;
                padding: 0 30px;
                position: static;
                height: 74px;
                font-size: 18px;
                overflow: visible;
                white-space: normal;
                .elm-price {
                    margin: 0;
                    display: flex;
                    text-align: left;
                    height: 74px;
                    align-items: center;
                    color: #000;
                    font-size: 32px;
                    line-height: 40px;
                    position: absolute;
                    top: 13px;
                    left: 22px;
                }
            }
        }
    }
    .header {
        margin-bottom: 27px;
        border-bottom: 1px solid #F2F2FD;
    }
    .header-main-panel {
        .inner-wrap {
            height: 84px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 0;
            display: flex;
            align-items: center;
        }
        .logo-wrap {
            width: 185px;
            padding-right: 58px;
            flex-shrink: 0;
        }
        .phone-wrap {
            display: none;
        }
        .search-wrap {
            flex: 1;
            padding: 0 28px 0 0;
        }
        .catalog-wrap {
            position: static;
        }
    }
    .main-catalog-wrap {
        .catalog-block {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            z-index: 100;
            background: #fff;
            box-shadow: 0px 21px 14px rgba(0, 0, 0, 0.09);
            margin-top: 1px;
        }
        .catalog-menu-wrap {
            &>ul {
                position: static;
                width: 298px;
                &>li {
                    &:hover {
                        &>ul {
                            display: block;
                        }
                    }
                    &>ul {
                        columns: 2;
                        column-gap: 0;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        background: #fff;
                        display: none;
                        padding: 10px 20px 70px 318px;
                        min-height: 100%;
                        box-shadow: 0px 21px 14px rgba(0, 0, 0, 0.09);
                        &>li {
                            &>a {
                                font-weight: 500;
                                color: #000;
                                line-height: 19px;
                            }
                            &>ul {
                            }
                        }
                    }
                }
            }
            a {

                page-break-inside: avoid;
                break-inside: avoid-column;
            }
        }
        .show-all {
            display: none;
        }
        .menu-button {
            z-index: 2;
        }
        ul, li {
            position: static;
        }
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .no-order-footer,
    .submit-mobile-footer {
        .footer {
            padding-bottom: 0;
        }
        .footer-mobile-panel {
            display: none;
        }
    }
    .footer {
        padding-bottom: 100px;
    }
    .footer-mobile-panel {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 999;
    }
}
@media (min-width: 1024px) {
    .inner-wrap, .page {
        padding-left: 30px;
        padding-right: 30px;
    }
    .main-sbs-box {
        border-radius: 0;
        .inner-wrap {
            min-height: 220px;
            padding: 40px 30px 50px 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .sbs-title-wrap {
            width: 50%;
            margin: 0;
            padding: 0 30px 0 0;
            flex-shrink: 0;
        }
        .sbs-form-wrap {
            flex: 1;
            max-width: 695px;
            padding: 0;
            margin: 0;
        }
        .sbs-title {
            margin: 0;
        }
    }
    .footer-main-panel {
        padding: 58px 0 77px 0;
        font-size: 16px;
        line-height: 1.34;
        .info-wrap {
            flex: 1;
            padding: 10px 30px 0 0;
        }
        .footer-inner-wrap {
            width: 66.8%;
            display: flex;
        }
        .menu-wrap {
            width: 462px;
            flex-shrink: 0;
            display: flex;
            ul {
                width: 50%;
                flex-shrink: 0;
                padding-right: 20px;
            }
            a {
                display: block;
                padding: 10px 0;
            }
        }
        .contacts-wrap {
            flex: 1;
            padding: 10px 0 0 0;
            display: block;
        }
        .phone-wrap {
            width: 100%;
            margin-bottom: 38px;
            padding: 0;
        }
        .address-wrap {
            width: 100%;
            padding: 0;
            margin-bottom: 38px;
        }
        .shedule-wrap {
            width: 100%;
            padding: 0;
        }
        .logo-wrap {
            width: 126px;
            margin-bottom: 36px;
        }
        .btn-action-ico {
            &.button-soc {
                width: 36px;
                height: 36px;
            }
        }
        .footer-title {
            font-size: 15px;
            margin-bottom: 10px;
        }
    }
    .footer-bottom-panel {
        border-top: 1px solid #2B1550;
        padding: 20px 0;
        line-height: 1.25;
        color: #8490A8;
        .inner-wrap {
            min-height: 23px;
        }
        .policy-wrap {
            width: 50%;
        }
        .copy-wrap {
            color: #8490A8;
        }
        a {
            color: #8490A8;
        }
    }
    .footer-mobile-panel {
        display: none;
    }
    .header-top-panel {
        .location-wrap {
            min-width: 225px;
        }
        .menu-wrap {
            &>ul {
                margin: 0 -15px;
                &>li {
                    &>a {
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                }
            }
        }
    }
    .header-main-panel {
        .logo-wrap {
            width: 225px;
            padding-right: 98px;
        }
        .catalog-wrap {
            width: 146px;
            padding: 0 15px 0 0;
        }
    }
    .main-catalog-wrap {
        .btn-catalog {
            padding-left: 32px;
            &:not(.active) {
                &:before, &:after {
                    left: 28px;
                }
            }
            &.active {
                &:before, &:after {
                    left: 28px;
                }
            }
        }
        .catalog-block {
            box-shadow: none;
            &:before {
            	content: "";
            	display: block;
            	position: absolute;
            	top: 0;bottom: 0;
                left: -999px;
                right: -999px;
                background: #fff;
                box-shadow: 0px 21px 14px rgba(0, 0, 0, 0.09);
            }
        }
        .catalog-menu-wrap {
            position: relative;
            z-index: 2;
            &>ul {
                padding-bottom: 30px;
                width: 335px;
                &>li {
                    &>ul {
                        padding-left: 383px;
                        columns: 3;
                        box-shadow: none;
                        &:before {
                            content: "";
                            display: block;
                            position: absolute;
                            top: 0;bottom: 0;
                            left: -999px;
                            right: -999px;
                            background: #fff;
                            box-shadow: 0px 21px 14px rgba(0, 0, 0, 0.09);
                        }
                    }
                }
            }
            .menu-button {
                &:after {
                    right: 10px;
                }
            }
        }
    }
}
@media (min-width: 1024px) and (max-width: 1199px) {
    .footer-main-panel {
        .footer-inner-wrap {
            width: 75%;
        }
    }
}
@media (min-width: 1200px) {
    .header-main-panel {
        .inner-wrap {
            padding-right: 25px;
        }
        .actions-wrap {
            width: 520px;
            padding: 0;
            justify-content: space-between;
        }
        .action-wrap {
            width: 100px;
        }
        .search-wrap {
            padding-right: 38px;
        }
        .btn-header {
            height: 50px;
            position: relative;
            width: 100%;
            padding-top: 30px;
            .btn-action-ico {
                position: absolute;
                top: 0;
                left: 50%;
                margin: 0 0 0 -12px;
                width: 24px;
                height: 24px;
            }
            .button-title {
                display: block;
            }
            .elm-count {
                bottom: auto;
                top: 0px;
                margin-left: 3px;
            }
        }
    }
    .header-top-panel {
        .address-wrap {
            display: block;
        }
        .phone-wrap {
            padding-left: 44px;
        }
    }
}
@media (min-width: 1200px) and (max-width: 1399px) {
    .header-main-panel {
        .actions-wrap {
            width: 460px;
        }
    }
}
@media (min-width: 1430px) {
    .footer {
        .btn-action-ico {
            &.button-up {
                right: 50%;
                margin-right: -685px;
            }
        }
    }
}


iframe {
    max-width: 100%
}
.bx-breadcrumb {
    flex-wrap: wrap;
    text-align: center;
}
@media (max-width: 575px) {
    .online-view p,
    .online-view h2 {
        padding-left: 15px;
        padding-right: 15px;
    }
}


