
<!-- footer -->
<footer class="footer">
	<div class="footer-main-panel">
		<div class="inner-wrap">
			<div class="info-wrap">
				<div class="logo-wrap">
					<a href="" class="logo">
						<img src="./img/main/logo-light.svg" alt="">
					</a>
				</div>
				<div class="soc-wrap">
					<a href="" class="btn btn-action-ico button-soc">
						<img src="./img/icons/soc-inst.svg" alt="">
					</a>
					<a href="" class="btn btn-action-ico button-soc">
						<img src="./img/icons/soc-vk.svg" alt="">
					</a>
				</div>
			</div>
			<div class="footer-inner-wrap">
				<div class="menu-wrap">
					<ul>
						<li><a href="">Смартфоны</a></li>
						<li><a href="">Планшеты</a></li>
						<li><a href="">Компьютеры</a></li>
						<li><a href="">Умные часы</a></li>
						<li><a href="">Аксессуары</a></li>
						<li><a href="">Для дома</a></li>
					</ul>
					<ul>
						<li><a href="">Услуги</a></li>
						<li><a href="">Сервис</a></li>
						<li><a href="">Доставка и оплата</a></li>
						<li><a href="">Кредит и страхование</a></li>
						<li><a href="">Гарантия</a></li>
						<li><a href="">О компании</a></li>
						<li><a href="">Отзывы</a></li>
						<li><a href="">Контакты</a></li>
					</ul>
				</div>
				<div class="contacts-wrap">
					<div class="phone-wrap">
						<div class="footer-title">Контактный телефон</div>
						<div class="phone-number">
							<a href="tel:88126402922">+7(812) 640-29-22</a>
						</div>
						<div class="phone-number">
							<a href="tel:88126402922">+7(812) 640-29-22</a>
						</div>
					</div>
					<div class="address-wrap">
						<div class="footer-title">Адрес склада</div>
						<p>г. Санкт-Петербург, <br> Кирочная 9, БЦ Арсенал</p>
					</div>
					<div class="shedule-wrap">
						<div class="footer-title">Время работы</div>
						<div class="shedule-title">Пн-Пт: с 10:00 до 20:00</div>
						<div class="shedule-title">Сб-Вс с 11:00 до 19:00</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom-panel">
		<div class="inner-wrap">
			<div class="copy-wrap">© iService - техника Apple 2006-2021. Стоимость указана при&nbsp;оплате наличными.</div>
			<div class="policy-wrap">
				<a href="">Политика конфиденциальности</a>
			</div>
		</div>
	</div>
	<div class="footer-mobile-panel">
		<div class="inner-wrap">
			<div class="cart-wrap">
				<a href="" class="btn">В корзину <span class="elm-price">73 999 ₽</span></a>
			</div>
			<div class="actions-wrap">
				<div class="action-wrap">
					<a href="" class="btn-footer">
						<span class="btn-action-ico ico-menu-home"></span>
						<span class="button-title">Главная</span>
					</a>
				</div>
				<div class="action-wrap">
					<a href="" class="btn-footer">
						<span class="btn-action-ico ico-menu-search"></span>
						<span class="button-title">Каталог</span>
					</a>
				</div>
				<div class="action-wrap">
					<a href="" class="btn-footer">
						<span class="btn-action-ico ico-menu-cart"></span>
						<span class="button-title">Корзина</span>
					</a>
				</div>
				<div class="action-wrap">
					<a href="" class="btn-footer">
						<span class="btn-action-ico ico-menu-user"></span>
						<span class="button-title">Профиль</span>
					</a>
				</div>
				<div class="action-wrap">
					<a href="" class="btn-footer">
						<span class="btn-action-ico ico-menu-more"></span>
						<span class="button-title">Еще</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<a href="" class="btn-action-ico button-up ico-up js-btn-up"></a>
</footer>
<!-- /footer -->