
<div id="popup-login" class="popup-box" style="display: none;">
	<div class="popup-title-wrap">
		<div class="popup-title">Вход или регистрация</div>
	</div>
	<div class="popup-content-wrap">
		<form action="/" class="frm-popup">
			<div class="frm-row">
				<div class="frm-field">
					<input type="text" placeholder="Введите телефон или e-mail">
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field">
					<input type="text" placeholder="Пароль">
				</div>
			</div>
			<div class="frm-row-submit">
				<input type="submit" value="Войти">
			</div>
			<div class="frm-row row-links">
				<div class="frm-field">
					<a href="">Войти с помощью кода</a>
				</div>
				<div class="frm-field">
					<a href="">Забыли пароль?</a>
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field">
					<div class="frm-info">Нажимая кнопку “Получить код”, Вы соглашаетесь с условиями <a href="">политики конфиденциальности</a></div>
				</div>
			</div>
		</form>
		<div class="popup-soc-wrap">
			<div class="soc-title">Войти через социальные сети</div>
			<div class="soc-buttons-wrap">
				<a href="" class="btn-action-ico button-popup-soc">
					<img src="./img/icons/soc-popup-fb.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-popup-soc">
					<img src="./img/icons/soc-popup-vk.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-popup-soc">
					<img src="./img/icons/soc-popup-yandex.svg" alt="">
				</a>
			</div>
		</div>
	</div>
</div>
<div id="popup-login-code01" class="popup-box" style="display: none;">
	<div class="popup-title-wrap">
		<div class="popup-title">Вход или регистрация</div>
	</div>
	<div class="popup-content-wrap">
		<form action="/" class="frm-popup">
			<div class="frm-row">
				<div class="frm-field">
					<input type="text" placeholder="Введите телефон или e-mail">
				</div>
			</div>
			<div class="frm-row-submit">
				<input type="submit" value="Получить код ">
			</div>
			<div class="frm-row">
				<div class="frm-field">
					<div class="frm-info">Нажимая кнопку “Получить код”, Вы соглашаетесь с условиями <a href="">политики конфиденциальности</a></div>
				</div>
			</div>
			<div class="frm-row row-links">
				<div class="frm-field">
					<a href="">Войти с помощью кода</a>
				</div>
			</div>
		</form>
		<div class="popup-soc-wrap">
			<div class="soc-title">Войти через социальные сети</div>
			<div class="soc-buttons-wrap">
				<a href="" class="btn-action-ico button-popup-soc">
					<img src="./img/icons/soc-popup-fb.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-popup-soc">
					<img src="./img/icons/soc-popup-vk.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-popup-soc">
					<img src="./img/icons/soc-popup-yandex.svg" alt="">
				</a>
			</div>
		</div>
	</div>
</div>
<div id="popup-login-code02" class="popup-box" style="display: none;">
	<div class="popup-title-wrap">
		<div class="popup-title">Вход или регистрация</div>
	</div>
	<div class="popup-content-wrap">
		<form action="/" class="frm-popup">
			<div class="frm-row">
				<div class="frm-field">
					<input type="text" placeholder="Введите телефон или e-mail" value="+7 911 999-99-99">
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field">
					<div class="frm-main-button">
						<div class="field-input">
							<input type="text" placeholder="Код из SMS" class="">
						</div>
						<div class="field-button">
							<button class="button-arrow-ico"></button>
						</div>
					</div>
				</div>
			</div>
			<div class="frm-row-submit">
				<input type="submit" value="Получить код ">
			</div>
			<div class="frm-row">
				<div class="frm-field">
					<div class="frm-info">Нажимая кнопку “Получить код”, Вы соглашаетесь с условиями <a href="">политики конфиденциальности</a></div>
				</div>
			</div>
			<div class="frm-row row-links">
				<div class="frm-field">
					<a href="">Войти с помощью кода</a>
				</div>
			</div>
		</form>
		<div class="popup-soc-wrap">
			<div class="soc-title">Войти через социальные сети</div>
			<div class="soc-buttons-wrap">
				<a href="" class="btn-action-ico button-popup-soc">
					<img src="./img/icons/soc-popup-fb.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-popup-soc">
					<img src="./img/icons/soc-popup-vk.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-popup-soc">
					<img src="./img/icons/soc-popup-yandex.svg" alt="">
				</a>
			</div>
		</div>
	</div>
</div>

<div id="popup-login-guest" class="popup-box" style="display: none;">
	<div class="popup-title-wrap">
		<div class="popup-title">Вход или регистрация</div>
	</div>
	<div class="popup-content-wrap">
		<form action="/" class="frm-popup">
			<div class="frm-row">
				<div class="frm-field">
					<input type="text" placeholder="Введите телефон или e-mail">
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field">
					<input type="text" placeholder="Пароль">
				</div>
			</div>
			<div class="frm-row-submit">
				<input type="submit" value="Войти">
			</div>
			<div class="frm-row row-links">
				<div class="frm-field">
					<a href="">Войти с помощью кода</a>
				</div>
				<div class="frm-field">
					<a href="">Забыли пароль?</a>
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field">
					<div class="frm-info">Нажимая кнопку “Получить код”, Вы соглашаетесь с условиями <a href="">политики конфиденциальности</a></div>
				</div>
			</div>
		</form>
		<div class="popup-soc-wrap">
			<div class="soc-guest-wrap">
				<a href="" class="btn button-border">Продолжить как гость</a>
			</div>
			<div class="soc-title">Войти через социальные сети</div>
			<div class="soc-buttons-wrap">
				<a href="" class="btn-action-ico button-popup-soc">
					<img src="./img/icons/soc-popup-fb.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-popup-soc">
					<img src="./img/icons/soc-popup-vk.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-popup-soc">
					<img src="./img/icons/soc-popup-yandex.svg" alt="">
				</a>
			</div>
		</div>
	</div>
</div>
<div id="popup-login-code01-guest" class="popup-box" style="display: none;">
	<div class="popup-title-wrap">
		<div class="popup-title">Вход или регистрация</div>
	</div>
	<div class="popup-content-wrap">
		<form action="/" class="frm-popup">
			<div class="frm-row">
				<div class="frm-field">
					<input type="text" placeholder="Введите телефон или e-mail">
				</div>
			</div>
			<div class="frm-row-submit">
				<input type="submit" value="Получить код ">
			</div>
			<div class="frm-row">
				<div class="frm-field">
					<div class="frm-info">Нажимая кнопку “Получить код”, Вы соглашаетесь с условиями <a href="">политики конфиденциальности</a></div>
				</div>
			</div>
			<div class="frm-row row-links">
				<div class="frm-field">
					<a href="">Войти с помощью кода</a>
				</div>
			</div>
		</form>
		<div class="popup-soc-wrap">
			<div class="soc-guest-wrap">
				<a href="" class="btn button-border">Продолжить как гость</a>
			</div>
			<div class="soc-title">Войти через социальные сети</div>
			<div class="soc-buttons-wrap">
				<a href="" class="btn-action-ico button-popup-soc">
					<img src="./img/icons/soc-popup-fb.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-popup-soc">
					<img src="./img/icons/soc-popup-vk.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-popup-soc">
					<img src="./img/icons/soc-popup-yandex.svg" alt="">
				</a>
			</div>
		</div>
	</div>
</div>
<div id="popup-city" class="popup-box popup-city" style="display: none;">
	<div class="popup-title-wrap title-left">
		<div class="popup-title">Выберите свой город</div>
	</div>
	<div class="popup-content-wrap">
		<form action="/" class="frm-popup">
			<div class="frm-row">
				<div class="frm-field">
					<input type="text" placeholder="Введите название города">
				</div>
			</div>
		</form>
		<div class="city-list-wrap">
			<ul>
				<li><a href="" class="link-att">Санкт-Петербург</a></li>
				<li><a href="" class="link-att">Москва</a></li>
				<li><a href="">Великий Новгород</a></li>
				<li><a href="">Новосибирск</a></li>
				<li><a href="">Новосибирск</a></li>
				<li><a href="">Волгоград</a></li>
				<li><a href="">Нижний Новгород</a></li>
				<li><a href="">Казань</a></li>
				<li><a href="">Челябинск</a></li>
				<li><a href="">Омск</a></li>
				<li><a href="">Самара</a></li>
				<li><a href="">Краснодар</a></li>
				<li><a href="">Ростов-на-Дону</a></li>
				<li><a href="">Уфа</a></li>
				<li><a href="">Красноярск</a></li>
				<li><a href="">Пермь</a></li>
				<li><a href="">Воронеж</a></li>
			</ul>
		</div>
	</div>
</div>

<div id="popup-notify" class="popup-box popup-notify" style="display: none;">
	<div class="popup-title-wrap title-left">
		<div class="popup-title">Узнать о поступлении</div>
		<p>Оставьте адрес электронной почты, и мы уведомим вас о поступлении товара</p>
	</div>
	<div class="popup-content-wrap">
		<form action="/" class="frm-popup">
			<div class="frm-row">
				<div class="frm-field">
					<input type="email" placeholder="Электронная почта">
				</div>
			</div>
			<div class="frm-row-submit">
				<input type="submit" value="Подписаться">
			</div>
			<div class="frm-row">
				<div class="frm-field">
					<div class="frm-info">Нажимая кнопку “Подписаться”, Вы соглашаетесь с условиями <a href="">политики конфиденциальности</a></div>
				</div>
			</div>
		</form>
	</div>
</div>

<div id="popup-oneclick" class="popup-box popup-oneclick" style="display: none;">
	<div class="popup-title-wrap title-left">
		<div class="popup-title">Купить в 1 клик</div>
	</div>
	<div class="popup-content-wrap">
		<div class="orders-wrap">
			<a href="" class="item-order">
				<span class="order-photo-wrap">
					<span class="order-photo">
						<img src="./img/order01.jpg" alt="">
					</span>
				</span>
				<span class="order-info-wrap">
					<span class="order-title">Смартфон Apple iPhone 11 128GB Фиолетовый </span>
					<span class="order-price">
						<span class="elm-price">73 999 ₽</span>
					</span>
				</span>
			</a>
		</div>
		<form action="/" class="frm-popup">
			<div class="frm-row">
				<div class="frm-field">
					<input type="text" placeholder="Имя">
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field">
					<input type="tel" placeholder="Телефон">
				</div>
			</div>
			<div class="frm-row-submit">
				<input type="submit" value="Оформить заказ">
			</div>
			<div class="frm-row">
				<div class="frm-field">
					<div class="frm-info">Нажимая кнопку “Оформить заказ”, Вы соглашаетесь с условиями <a href="">политики конфиденциальности</a></div>
				</div>
			</div>
		</form>
	</div>
</div>


<div id="popup-location" class="popup-box popup-location" style="display: none;">
	<div class="popup-title-wrap title-left">
		<div class="popup-title">Ваш город Москва?</div>
	</div>
	<div class="popup-content-wrap">
		<div class="confirm-wrap">
			<a href="" class="btn">Да, верно</a>
			<a href="" class="btn button-border">Нет, другой</a>
		</div>
	</div>
</div>