<!--main-sbs-box-->
<div class="main-sbs-box cnt-section">
	<div class="inner-wrap">
		<div class="sbs-title-wrap">
			<div class="sbs-title title-main">Подпишитесь и&nbsp;узнавайте первыми об акциях и&nbsp;новых предложениях</div>
			<div class="sbs-title">Подпишись на рассылку</div>
		</div>
		<div class="sbs-form-wrap">
			<form action="/" class="frm-main-button">
				<div class="field-input">
					<input type="text" placeholder="Электронная почта" class="form-input">
				</div>
				<div class="field-button">
					<button type="submit">Подписаться</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!--/main-sbs-box-->